*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#__nuxt {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  box-sizing: border-box;
  font: 400 14px/20px "Montserrat", "Tahoma", sans-serif;

  background-color: $white;
  color: $black;
}

.container {
  width: 1340px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;

  @include mobile {
    width: 320px;
  }
}

.h1 {
  font-size: 56px;
  line-height: 66px;
  font-weight: 900;

  @include mobile {
    font-size: 34px;
    line-height: 46px;
  }
}

.h2 {
  font-size: 34px;
  line-height: 46px;
  font-weight: 900;

  @include mobile {
    font-size: 22px;
    line-height: 30px;
  }
}

.h3 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 900;

  @include mobile {
    font-size: 18px;
    line-height: 26px;
  }
}

.body-1 {
  font-size: 18px;
  line-height: 26px;
}

.body-2 {
  font-size: 14px;
  line-height: 20px;
}
