@mixin mobile {
  @media (max-width: $width--tablet - 1px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $width--tablet) and (max-width: $width--desktop - 1px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $width--desktop) {
    @content;
  }
}

@mixin tablet-mobile {
  @media (max-width: $width--desktop - 1px) {
    @content;
  }
}

@mixin input() {
  display: flex;
  width: 353px;
  padding: 2px 8px;

  border: none;
  border-bottom: 1px solid $gray;
  background-color: transparent;
  color: inherit;

  &:focus {
    border-color: $blue;
    outline: none;
  }

  @include tablet-mobile {
    width: 100%;
  }
}

@mixin submit() {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;

  border: 1px solid $blue;
  background-color: $blue;
  color: inherit;
  cursor: pointer;

  &:hover {
    background-color: transparent;
  }

  @include tablet-mobile {
    width: 100%;
  }
}
